<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="taskName" placeholder="Write your task here"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="taskPriority">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="Middle">Middle</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calender-outline" slot="start"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-datetime [(ngModel)]="taskDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>


    

    <ion-button class="ion-margin" expand="block" (click)="AddTask()">Add Task</ion-button>

  </ion-card>

  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-new-task</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
